.spacetop20 {
    margin-top: 20px;
}
.tab-nfts{
    height:80vh;
    overflow-y: scroll;
}
.spacebot20 {
    margin-bottom: 20px;
}

.txt-2xl {
    font-size: 24px; /* 24px */
    line-height: 32px; /* 32px */   
}

